django~=4.1
requests~=2.31.0
buffer~=0.2.1
numpy~=1.24.3
matplotlib~=3.7.2
scipy~=1.11.1
pydub~=0.25.1
django-simple-history~=3.4.0
jupyter~=1.0.0
pip~=23.2.1
pathlib~=1.0.1
panel~=1.2.3
attrs~=22.1.0
zlib~=1.2.13
wheel~=0.38.4
openssl~=3.0.11
cryptography~=41.0.3
pillow~=9.4.0
docutils~=0.18.1
sphinx~=5.0.2
tornado~=6.3.2
jinja2~=3.1.2
setuptools~=68.0.0
packaging~=23.1
pyparsing~=3.0.9
zipp~=3.11.0
typing_extensions~=4.7.1
future~=0.18.3